.about--highlight-text {
  font-weight: 700;
}
.title h1,
.title h2 {
  margin: 0.4rem 1rem;
  text-align: center;
  background-color: transparent;
}
.title h1 {
  color: $titles-color;
}
.title {
  &__figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0;
    & img {
      border-radius: 50%;
      border: 0.1rem solid $secondary-color;
      max-width: 60%;
      max-height: 300px;
    }
  }
}
.about {
  margin: 0.4rem 1rem;
  &__container {
    border-bottom: 0.2rem solid $primary-color;
  }

  &__thanks {
    color: $primary-color;
    margin-top: 0.4rem;
    text-align: center;
  }
}
@media screen and (min-width: $medium) {
  .title {
    & h1 {
      font-size: 3.5rem;
    }
    & h2 {
      font-size: 2.5rem;
      margin: 0.4rem 4rem;
    }
    &__figure img {
      max-width: none;
    }
  }
  .about {
    & p {
      font-size: 1.5rem;
      margin: 2rem 0;
    }
    &__information {
      align-items: center;
      display: flex;
      margin: 0.4rem 1rem;
    }
  }
}
